body {
  background-color: #1a1a1c;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.search-bar {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  border: 2px solid #8e8e8e;
  background-color: #1a1a1c;
  font-family: "Inter", sans-serif;
}
::placeholder {
  color: #ffffff !important;
  font-weight: 400;
  opacity: 1;
}

button {
  padding: 25px !important;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 29.05px;
  border: 2px solid #8e8e8e !important;
  background-color: #1a1a1c !important;
  font-family: "Inter", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 25px 15px;
  border-bottom: 1px solid #444;
  text-align: left;
}

img {
  width: 30px;
  height: 30px;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}
